@import "colors-main.scss";

code {
  background: $red-3;
  font-family: monospace;
  line-height: 1.5;
  color: $red-6;
  padding: 4px;
}

a {
  color: #1f89ff;
  border-bottom: 1px solid #1f89ff;
  outline: none;
  text-decoration: none;
}

a:focus {
  box-shadow: 0 0 0 1px rgba(87, 85, 217, .2);
}
